.phanGiua {
            height: 2500px auto;
            margin-top: 210px;
            margin-left: 85px;
            margin-right: 85px;
        }
       .phanGiua h1 {font-size: 32px;text-align: center;}
       .phanGiua h2 {font-size:24px;}
       .phanGiua h3 {font-size:18px;}
       .phanGiua p {font-size:16px;}
       .phanGiua li {font-size:16px}
       .phanGiua td {font-size:16px;}
       .phanGiua strong{font-size:16px;}
       .phanGiua a {color:dodgerblue;}
       .anh7 {text-align:center}
